 # Node / Frontend
**/node_modules/
.next/
dist/
build/
out/
coverage/
*.tsbuildinfo
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Java / Backend
target/
.gradle/
.mvn/

# IDE / OS / Env
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
*.env
*.env.*
